@model GymKalendar.Models.RegisterViewModel;

@{
    Layout = null;
}



<!DOCTYPE html>
<html>

    <head>
        <title>Register</title>
    </head>

    <body>
        <form asp-controller="Home" asp-action="Register" method="post">
            <div class="title">
                <h1>Регистрация</h1>

            <div asp-validation-summary="ModelOnly" style="color:red;"></div>

            </div>
            <div>
                <label>Имя:</label>
                <input asp-for="FirstName" type="text" />
            </div>
            <div>
                <label>Фамилия:</label>
                <input asp-for="LastName" type="text" />
            </div>
            <div>
                <label>Возраст:</label>
                <input asp-for="Age" type="number" />
            </div>
            <div>
                <label>Почта:</label>
                <input asp-for="Email" type="email" />
            </div>
            <div>
                <label>Телефон:</label>
                <input asp-for="Phone" type="text" />
            </div>
            <div>
                <label>Пароль:</label> 
                <input asp-for="Password" type="password" />
            </div>

            <button type="submit">Зарегистрироваться</button>

            <div class="link">
                <a href="/Home/Login">Уже есть аккаунт? Войти</a>
            </div>


        </form>
    </body>
</html>
